
body {
    background-color: rgb(241, 238, 233);
}

.container {
    margin: 2em;
    width: 500px;
}

.series__lista {
    padding: 0;
}

.series__lista-item {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: 1em;
    background-color: antiquewhite;
    list-style-type: none;
}

.series__botoes-div {
    display: flex;
    gap: 5px;
  
}

/* Episodios Contagem */

.series__episodios-div {
    display: flex;
    gap: 5px;
    background-color: rgba(39, 39, 39, 0.377);
    padding: 0.4em;
    border-radius: 5px;
    transition: 0.5s;
}

.series__episodios-div:hover {
    background-color: rgba(0, 0, 0, 0.377);
}

.series__episodios-div a {
    text-decoration: none;
    color: rgb(245, 238, 238);
    font-weight: 700;
}

.episodio__botoes-div{
    display: flex;
    gap: 5px;
}



.botao__adicionar {
    text-decoration: none;
    background-color: rgb(80, 153, 153);
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.botao__salvar {
    text-decoration: none;
    background-color: rgb(80, 153, 153);
    color: white;
    border: none;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-top: 1em;
    transition: 0.3s;
    margin-bottom: 1em;
}

.botao__salvar:hover{
    background-color: rgb(39, 88, 88);
    
}

.botao__editar {
    padding: 0.3em 1.2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(68, 165, 97);
    color: white;
    text-decoration: none;
    font-size: 14px;
}



.botao__excluir {
    padding: 0.3em 1.2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(165, 83, 68);
    color: white;
    
}

.botao__cadastrar{
    color:rgb(79, 92, 92);
    font-size: 20px;
}

.botao__cadastrar-div{
    margin-top: 1em;
}



/* Create */

.mensagemSucesso {
    background-color: rgb(140, 202, 150);
    color: aliceblue;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 1em;
}

.mensagemErro-div {

    width: 500px;
    margin-bottom: 0.5em ;
}

.mensagemErro {
    background-color: rgb(216, 157, 130);
    color: aliceblue;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 1em;
}

/* Formulario */

.form-create{
    width: 700px;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
    
}

.form-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
    width: 200px;
    gap: 5px;
    align-items: start;
    justify-content: start;
}